@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<p>
    New patient? <a asp-action="Signup">Signup here</a>
</p>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div style="margin-top:10px;">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div style="margin-top:15px;">
        <button type="submit">Login</button>
    </div>
</form>
