@model PatientSignupViewModel

@{
    ViewData["Title"] = "Signup";
}

<h2>Patient Signup</h2>
<p>This signup page is for patients only.</p>

<form asp-action="Signup" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div style="margin-top:10px;">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div style="margin-top:10px;">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div style="margin-top:10px;">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div style="margin-top:10px;">
        <label asp-for="AbhaId"></label>
        <input asp-for="AbhaId" />
        <span asp-validation-for="AbhaId" class="text-danger"></span>
    </div>

    <div style="margin-top:15px;">
        <button type="submit">Create Patient Account</button>
    </div>
</form>
