@model CreateHospitalViewModel

@{
    ViewData["Title"] = "Create Hospital";
}

<h2>Create Hospital</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="HospitalName"></label>
        <input asp-for="HospitalName" />
        <span asp-validation-for="HospitalName" class="text-danger"></span>
    </div>

    <div style="margin-top:10px;">
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div style="margin-top:15px;">
        <button type="submit">Save</button>
    </div>
</form>
