@model EditHospitalUserViewModel

@{
    ViewData["Title"] = "Edit Doctor";
}

<h2>Edit Doctor</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />

    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div style="margin-top:10px;">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div style="margin-top:10px;">
        <label asp-for="Specialization"></label>
        <input asp-for="Specialization" />
        <span asp-validation-for="Specialization" class="text-danger"></span>
    </div>

    <div style="margin-top:10px;">
        <label asp-for="StateRegistrationNumber"></label>
        <input asp-for="StateRegistrationNumber" />
        <span asp-validation-for="StateRegistrationNumber" class="text-danger"></span>
    </div>

    <div style="margin-top:15px;">
        <button type="submit">Save</button>
    </div>
</form>
